/* This is a style guide for the grid structure layout of the style guide*/

* {
    box-sizing: border-box;
  }

  .rows {
    flex-direction: row;
  }

  .columns {
    flex-direction: column;
  }

  .flex-container, .flex-container-nav, .flex-container-feature, .flex-container-products, .flex-container-order-sum, .flex-container-feature-product-single, .flex-container-event {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .flex-container-color {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-container-center {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    margin: 3em;
  }

  .flex-container-product-single {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
  }

  .flex-container-product-single-txt {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: right;
  }

  .justify-left {
    justify-content: left;
  }


  .flex-container-right {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: right;

    margin: 3em;
  }


  .flex-container-feature, .flex-container-order-sum, .flex-container-feature-product-single {
    margin-top: 3em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .flex-container-nav {
    justify-content: right;
    align-items: center;
    text-align: center;
  }

  .flex-item-color {
    flex-grow: 1;
    flex-basis: 30em;
  }

  .flex-item-feature-img {
    flex-grow: 1;
    flex-basis: 30em;
    padding-top: 1em;
    margin-right: 3em;
  }

  .flex-item-feature-txt {
    flex-grow: 1;
    flex-basis: 70em;
  }

  .flex-item-product-single {
    flex-grow: 1;
    flex-basis: 20em;
    padding-top: 1em;
    margin-right: 3em;
  }

  .flex-item-nav, .flex-container-brand {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-item-xsm {
    flex-basis: 7em;
    align-self: center;
    /* cite: how to use flex basis from https://css-tricks.com/almanac/properties/f/flex-basis/ */
  }

  .flex-item-sm {
    flex-basis: 10em;
    margin-right: 10em;
    /* cite: how to use flex basis from https://css-tricks.com/almanac/properties/f/flex-basis/ */
  }

  .flex-item-brand {
    flex-basis: 10em;
  }

  .flex-item-md {
    flex-basis: 15em;
  }

  .flex-item-lg {
    flex-basis: 30em;
    padding-top: 1em;
    margin-right: 3em;
    /* cite: how to use flex basis from https://css-tricks.com/almanac/properties/f/flex-basis/ */
  }

  #contact-message {
    margin-right: 1em;
  }

  .flex-item-xlg {
    flex-basis: 70em;
    /* cite: how to use flex basis from https://css-tricks.com/almanac/properties/f/flex-basis/ */
  }

  /* cite: how to make a product layout from https://css-tricks.com/designing-a-product-page-layout-with-flexbox/ */
  .flex-container-products {
    justify-content: center;
    flex-direction: row;
  }

  .flex-item-product {
    flex-grow: 1;
    flex-basis: 5em;
    margin: 1em;
  }

  .flex-item-cart {
    flex-basis: 10em;
    margin-right: 3em;
    /* cite: how to use flex basis from https://css-tricks.com/almanac/properties/f/flex-basis/ */
  }

  .flex-item-cart-price {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
  }



  /* cite: used this form as an example structure from https://www.w3schools.com/howto/howto_css_checkout_form.asp */

.flex-container-payment {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1em;

}

.flex-item-payment-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.flex-item-payment-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.flex-item-payment-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;

}

.flex-item-payment-65 {
  -ms-flex: 65%; /* IE10 */
  flex: 65%;
  padding: 0 1.2em;
}

.flex-item-payment-25,
.flex-item-payment-50,
.lex-item-payment-75 {
  padding: 0 1.2em;
}

span.price {
  float: right;
  color: grey;
}

.sum-price {
  float: right;
  color: #1D1D1B;
}

.float-right {
  float: right;
}

.footer-list-inline {
  display: inline-flex;
}

.footer-list-inline-item {
  flex-grow: 1;
}

.flex-item-feature-author {
  align-self: baseline;
  max-width: 50%;
  height: auto;
  margin-right: 3em;
  flex-direction: row;
}

/*
  Spacing -------------------
*/

.margin-left, .margin-left-event, .margin-left-payment {
  margin-left: 3em;
}


.margin-left-sm{
  margin-left: .5em;
}

.margin-right{
  margin-right: 3em;
}

.margin-bottom {
  margin-bottom: 7em;
}

.margin-bottom-sm {
  margin-bottom: 2em;
}

.margin-tb-sm {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.margin-top{
  margin-top: 4em;
}

.padding-bottom {
  height: 10em;
}

.no-margin {
  margin: 0;
}

.img-sm {
  max-width: 27%;
}



/*
  MEDIA QUERY -------------------
*/


@media screen and (max-width: 60.625em) {

  .flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-item-nav {
    margin-left: 2em;
  }

  .flex-container-feature, .flex-container-order-sum {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-list-inline {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .footer-list-inline-item {
    flex-basis: 2em;
  }

  .txt-right {
    text-align: left;
  }

  .flex-container-center {
    margin: 1em;
  }

  #shop-collections {
    margin: 0;
  }

  #similar-books {
    margin: 0;
  }

  .sum-price, .float-right {
    float: none;
  }

   .btn-submit, .btn-basic, .btn-reset {
      display: inline-block;
      margin: 0.2em auto;
  }

  .flex-item-product {
    flex-grow: 1;
    flex-basis: 8em;
  }

  .about-img{
    max-width: 80%
  }

  .img-sm {
    max-width: 100%;
  }

  #book-single-2-pic {
    max-width: 100%;
  }

  body {
    padding: 0.5rem;
  }

  #contact-background {
    max-width: 100%;
  }

}

@media screen and (max-width: 55.125em) {

  .flex-container-feature, .flex-container-order-sum {
    flex-direction: column;
  }

  .flex-item-product {
    flex-grow: 1;
    flex-basis: 11em;
  }

  .flex-container-payment {
    flex-direction: column;
  }

}

@media screen and (max-width: 62.5em) {

  .flex-container-feature, .flex-container-order-sum {
    align-content: flex-start;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .txt-center {
    font-size: 2.5rem;
  }

  .flex-container-product-single-txt {
    align-items: center;
    justify-content: center;
  }

  .margin-left-payment {
    margin-left: 0;
  }

}

@media screen and (max-width: 75.625em) {

  .flex-container-products, .flex-container-event {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-item-payment-25 {
    margin-bottom: 1.2em;
  }

  .sum-price, .float-right {
    float: none;
  }

  .event-img{
    max-width: 80%
  }

  span.price {
    float: none;
  }

  #place-now {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    text-align: center;
    justify-content: center;
  }

}

/* NAV MEDIA Q*/
@media screen and (max-width: 690px) {
  .topnav-body a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  #nav-cart {
    position:relative;
    max-width: 55%;
    order: 1;
  }

  .nav-logo {
    max-width: 75%;
  }

  .topnav-home {
    padding: 0;
  }
}

@media screen and (max-width: 690px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 4em;
    top: 0.2em;
  }

  .topnav.responsive .topnav-body {
    margin-top: 0.6em;
    float: none;
    display: block;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 2rem;
  }

  .feature-background, .feature-background-white {
    max-width: 90%;
  }

}

@media screen and (max-width: 575px) {

  .flex-container-feature-product-single {
    align-content: flex-start;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .margin-left-event {
    margin-left: 0;
  }

}

@media screen and (max-width: 375px) {

  .btn-add-cart {
    padding: 0.6rem 1.2rem 0.6rem 1.3rem;
    }

    .txt-review {
      font-size: 0.9rem;
      line-height: 1.4rem;
    }

}
